<h1>The Gallery</h1>

<div class="grid-wrapper">
    <ul class="gallery">
    {{#each pictures}}
        <li class="card">
            <img src="{{this.url}}" alt="{{this.author}}">
            <h4 class="img-title">{{this.author}}</h4>
        </li>
    {{/each}}
    </ul>
</div>

