.grid-wrapper{
    width: 100%;
    padding: 30px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.card{
    display: flex;
    position: relative;
}

img{
    width: 100%;
    height: auto;
}

.img-title{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100%;
    text-align: right;
}
